


<h1> Welcome Home </h1>
<p>
    HomeGoods is a chain of home furnishing stores headquartered in Framingham, Massachusetts. It was founded as a small chain in 1992, and grew to include hundreds of locations throughout the United States. HomeGoods sells furniture, linens, cooking products, art and other home accessories.

    HomeGoods is owned by TJX Companies, and is a sister company to T.J. Maxx, Sierra Trading Post, and Marshalls. The size of each store varies by location.[2] There are locations in the United States that combine both the HomeGoods and the T.J. Maxx or Marshalls store brands in one building.

    
</p>