@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <h1> Welcome to ASP.Net MVC</h1>
   <h2> This is my first web application, and I will make it beautiful </h2>
   <h2> This is going to be exciting for sure </h2>
</div>
