


<h1> Angular Route - Guard demo </h1>

<table border="1">
    <tr style="background-color: coral;">
        <td> <a routerLink="home"> Home </a></td>
        <td> <a routerLink="about"> About </a></td>
        <td> <a routerLink="contact"> Contact </a></td>
        <td> <a routerLink="reports"> Reports </a></td>
        <td> <a routerLink="announcements"> Accouncements </a></td>
        <td> <a routerLink="login"> Login </a></td>
    </tr>
</table>

<div>
    <router-outlet></router-outlet>
</div>


