
<h1> Shopping APP</h1>

<a routerLink="/cart" style="float: right;">Cart</a>
<table border="1">
  <tr>
    <td> <a routerLink="/home">Home</a>  </td>
    <td> <a routerLink="/about">About</a>  </td>
    <td> <a routerLink="/contact">Contact</a>  </td>
    <td> <a routerLink="/productlist">Product List</a>  </td>
    <td> <a routerLink="/addproduct">Add Product</a>  </td>
    <td> <a routerLink="/comments">Comments</a></td>
    
  </tr>
</table>

<div style="background-color: cadetblue;">

      <router-outlet></router-outlet>

</div>